body {
    margin: 0;
    padding: 0;
    font-family: $bodyf;
    font-size: 14px;
    width: 100%;
    height: 100%;

    h1, h2, h3, h4 {
        font-family: $headingf;
    }
}

p {
    width: 90%;
    margin:10px auto;
}

.eight {
        width: 80%;
    }

// navigation
nav {
    width: 100%;
    color: $white;
    height: 100px;
    background-color: $black;
    font-family: $headingf;
    z-index: 999;
    padding: 4px 0;

    img {
        padding: $smspace 30px;
    }

    ul {
        float: right;
        padding-right: 30px;
        padding-top: $lrgspace;

        li {
            list-style: none;
            display: inline;
            padding: $smspace;

            a {
                text-decoration: none;
                color: $white;
                font-size: 20px;

                &:hover {
                    color: #ED756D;
                }
            }

        }
    }
}

// home / INDEX

.top {
    height: 350px;
    width: 100%;
    background: url(../img/header.png) no-repeat center top;
    background-size: cover;
}

.introduction {
    width: 100%;
    height: 70%;
    padding-bottom: 54px;
    background: url(../img/ferns.png) no-repeat center top;
    background-size: cover;

    h1 {
        margin: 0 auto;
        padding: 140px 0;
        color: $black;
        text-align: center;
        font-size: 48px;
    }
}

.learn {
    width: 100%;
    padding: 100px 0;

    a {
        text-decoration: none;
        color: $white;
        text-shadow: 1px  2px $black;
        font-size: 22px;

        &:hover {
        color: $teal;
        }

        &:hover {
        color: #ED756D;
        }
    }
}

.performance {
    width: 100%;
    height: 300px;
    padding: 100px 0;
}

// backgrounds
.black {
    background-color: $black;
    color: $white;
}

.teal {
    background-color: $teal;
}

// content
.container {
    width: 100%;
    height: 100%;
}

.tcontainer {
    width: 80%;
    margin: 0 auto;
}

.tupperwear{
    width: 80%;
    height: 100%;
    max-width: $desktop + px;
    margin: 0 auto;
}

#map-canvas {
        width: 100%;
        height: 300px;
}

// for about page
.history {
    margin:  0 auto;
    padding: 0 10px;
}
// end

.classes {
    margin: 0 auto;
    width: 500px;

    img {
        margin: 0 auto;
    }
}

.dues {
    width: 100%;
    height: 200px;
    margin: 100px 0;
}

footer {
    width: 100%;
    height: 50px;
    color:$white;
    padding-top: $medmedspace;
    background-color: $black;
    font-size: 10px;
}

.kumubio {
    padding-top: $xlrgspace;
}

// positioning
.center {
    text-align: center;
}

.right {
    text-align: right;
    padding-top: $smspace;

    a {
        padding: $space;
    }
}

.responsive {
    width: 100%;
}

// slice
.item{
    width: 100%;
    margin: $space;
}

.slice-item {
    padding: $space;
}